.ipynb_checkpoints
.vscode
df_realestate.csv
df_realestate_processed.csv
*/__pycache__/*
*.tex
latex_generator/*.log
latex_generator/*.out
latex_generator/*.aux
*/main*files/*
*/practice*/*
*/practice*
!*/practice*.pdf
venv


06_XgbCV/farm_data/lands_pieces_tif_practice/*.npy

08_InformationRetreival/alice_mask.png
08_InformationRetreival/dict.txt
07_RealEstatePractice/data

MNIST_data
testing_images
lgb_model.txt